<!--
The Challenge

Created on 2020-08-21
Updated on 2020-10-22

Copyright Ryan Kan 2020
-->

<!DOCTYPE html>
<html lang="en-gb">

<head>
    <!-- Set meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Define title block -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Define The Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='resources/base/img/favicon.png') }}">

    <!-- Include Vendors' CSS files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/ionicons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/normalize.css') }}">

    <!-- Include My CSS files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resources/base/css/base.css') }}">
    {% block stylesheets %}{% endblock %}

    <!-- Load Header Scripts -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
          },
          TeX: {
            equationNumbers: {
                autoNumber: "AMS"
                }
            }
        });

    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='vendors/js/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='vendors/js/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src={{ url_for('static', filename='vendors/js/progressbar.min.js') }}></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendors/js/sha.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='resources/base/js/totp.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='resources/base/js/base.js') }}"></script>

    {% block header_scripts %}{% endblock %}
</head>

<body>
{% block content %}{% endblock %}

<!-- Scripts -->
{% block body_scripts %}{% endblock %}

<!-- Display any alerts -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                console.log("{{ message }}");
                create_alert("{{ message }}", document.body);  // Will show an alert on the page
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
</body>

</html>
