{% extends "base/base.html" %}

{% block title %}Loading...{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/the_challenge/css/loading.css') }}">
{% endblock %}

{% block content %}
    <div class="loading-box">
        <div class="preparing-questions">
            <h1>Preparing Questions...</h1>
        </div>
        <div class="loading-bar" id="js--loading-bar"></div>
    </div>

    <audio id="js--audio-loading" preload="auto"
           src="{{ url_for('static', filename='resources/the_challenge/audio/audio-loading.mp3') }}">
        <p>Your browser does not support the audio element.</p>
    </audio>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='resources/the_challenge/js/loading.js') }}"></script>
{% endblock %}
