{% extends "base/base.html" %}

{% block title %}The Challenge{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='resources/the_challenge/css/questions.css') }}">
{% endblock %}

{% block header_scripts %}
    <script>
        const QUESTIONS_AND_ANSWERS = JSON.parse({{ session["RunData"]|tojson|safe }});
        const Q8_IMAGE_SOURCE = "{{ session["Q8_Image"] }}";
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link rel="prefetch" as="script" href="{{ url_for('static', filename='resources/the_challenge/js/questions.js') }}">
{% endblock %}

{% block content %}
    <audio id="audio"
           preload="auto"
           src="{{ url_for('static', filename='resources/the_challenge/audio/audio-questions.mp3') }}">

        <p>Your browser does not support the audio element.</p>
    </audio>

    <audio id="success-audio"
           preload="auto"
           src="{{ url_for('static', filename='vendors/audio/success.mp3') }}">

        <p>Your browser does not support the audio element.</p>
    </audio>

    <div class="head-box">
        <div class="max-width-1080">
            <h1 class="float-left">The Challenge</h1>
            <div class="float-right" id="loading-bar"></div>
        </div>
    </div>

        <div class="body-container max-width-1080">
            <div class="question-container" id="question-container"></div>
            <div class="submit-button">
                <button id="submit">Submit Answer</button>
            </div>
        </div>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='vendors/js/mathlex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/the_challenge/js/questions.js') }}"></script>
{% endblock %}
