* {
    font-family: "Arial", sans-serif;
}

h1 {
    margin: 0;
}

.loading-box {
    position: absolute;
    width: 100%;
    top: 45%;
}

.preparing-questions {
    display: block;
    text-align: center;
}

#loading-bar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    margin: 20px 0;
    width: 400px;
    height: 30px;
}
