{% extends "base/base.html" %}

{% block title %}The Challenge - Algebra Input Demo{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='resources/index/css/algebraInput.css') }}">
{% endblock %}

{% block header_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block content %}
    <div class="back-arrow-box">
        <a href="{{ url_for('main_page') }}">&larr; Back to Main Page</a>
    </div>

    <div class="row" id="math-input">
        <h1>Try Out The Algebra Input System!</h1>
        <label for="input-field">
            <input id="input-field" type="text" placeholder="Try typing some MathLex here!" value="x^2 + 2*x + 1">
        </label>

        <div id="math-display">
            $$$$
        </div>
    </div>

    <div class="row" id="latex-code-output-box">
        <span>Equivalent $\LaTeX$ code:</span>
        <br>
        <code><span id="latex-output"></span></code>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='vendors/js/mathlex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/index/js/algebraInput.js') }}"></script>
{% endblock %}
