{% extends "base/base.html" %}

{% block title %}The Challenge - Try Out The Algebra Input{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='resources/index/css/algebraInput.css') }}">
{% endblock %}

{% block header_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block content %}
    <div class="back-arrow-box">
        <a href="{{ url_for('main_page') }}">&larr; Back to Main Page</a>
    </div>

    <div class="row math-input" id="math-input">
        <h1>Try Out The Algebra Input System!</h1>
        <span>Try typing some algebra below!</span>

        <label for="input-field">
            <input class="input-field" id="input-field" type="text" placeholder="Try typing some MathLex here!"
                   value="x^2 + 2*x + 1">
        </label>

        <div id="js--math-display">
            $$$$
        </div>
    </div>

    <div class="row">
        <span>Equivalent LaTeX code:</span>
        <br>
        <code><span class="latex-output" id="js--latex-output"></span></code>
    </div>

    <div class="row long-copy">
        <h1>Information About Algebraic Inputs</h1>
        <p>
            All algebraic inputs are to be typed in the MathLex language. The specifics of the MathLex language can be
            found <a href="http://mathlex.org/doc/language" target="_blank">on this page</a>. The following are several
            important pointers when entering algebraic expressions into the input field:
        </p>

        <ul>
            <li>To enter a number like "one million, two hundred and thirty-four thousand, five hundred and sixty-seven"
                do not enter any commas or periods (e.g.<code>1,234,567</code> or <code>1.234.567</code>). Instead, put
                all the digits of the number together (<code>1234567</code>).
            </li>
            <li>To enter $xy$ you will need to enter the string <code>x*y</code> into the input field.
            </li>
            <li>To enter a fraction such as $\frac pq$ you will need to enter the string <code>p/q</code> into the input
                field.
            </li>
            <li>To enter $\sqrt{ax+b}$ you will need to enter the string <code>sqrt(a*x+b)</code> into the input field.
            </li>
            <li>To enter $\sec^2 \left(ax+b\right)$ you will need to enter the string <code>(sec(a*x+b))**2</code> or
                <code>(sec(a*x+b))^2</code> into the input field.
            </li>
        </ul>
    </div>

    <footer>
        <p>Made with &heartsuit; by <a href="https://github.com/Ryan-Kan" target="_blank">Ryan Kan</a>. &copy; Copyright
            Ryan Kan</p>
    </footer>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='vendors/js/mathlex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/index/js/algebraInput.js') }}"></script>
{% endblock %}
