{% extends "base/base.html" %}

{% block title %}
    The Challenge
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resources/index/css/mainPage.css') }}">
{% endblock %}

{% block header_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block content %}
    <div class="header">
        <nav id="js--nav">
            <div class="row">
                <img src="{{ url_for('static', filename='resources/base/img/favicon.png') }}" alt="The Challenge's Logo"
                     class="logo">
                <ul class="main-nav">
                    <li><a href="#" id="js--scroll-to-practice-questions">Practice Questions</a></li>
                    <li><a href="{{ url_for('algebra_input') }}">Try Out Algebra Input</a></li>
                    <li><a href="{{ url_for('licenses') }}">Licences</a></li>
                </ul>
                <a class="nav-icon" id="js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
        </nav>

        <div class="hero-box">
            <h1>The Challenge</h1>
            <p class="introduction">
                Welcome to <strong>The Challenge</strong>, a gauntlet of 14 mathematics questions that are to be solved
                within 15 minutes.
                <br><br>
                <em>Ready to begin?</em>
                <br>
                <button class="start-button" id="js--start-button" disabled><strong>Start The Challenge</strong>
                </button>
                <br><br>
                <em>Scroll down to read more about The Challenge</em>
            </p>
            <br>
            <span class="error-text" id="js--error-text"></span>
        </div>
    </div>

    <div class="information-box">
        <div class="row">
            <h2>Information About The Challenge</h2>
            <p class="information">
                There will be 14 questions in <strong>The Challenge</strong>. This means that you will have an average
                of approximately 64.3 seconds to solve each question in the 15 minutes (900 seconds) given to you.
                <br><br>
                However, expect that the questions' difficulty to increase as you progress.
                <br><br>
                During the 15 minutes, all four movements of <a
                    href="https://en.wikipedia.org/wiki/Peer_Gynt_(Grieg)#Suite_No._1,_Op._46" target="_blank">Edvard
                Grieg's Peer Gynt Suite No. 1, Op. 46</a> will be played.
                <br><br>
                The following are the 14 questions' testing points:
            </p>
            <ol class="information">
                <li>Addition, subtraction, multiplication or division of two small numbers.</li>
                <li>Harder addition, subtraction, multiplication, and/or division question.</li>
                <li>Simple "solving for $x$" problem. Note that $x$ is in a linear equation.</li>
                <li>Determine values of $a$, $b$ and $c$ in the expression $y = a \sin\left(\frac xb\right) + c$ or $y =
                    a \cos\left(\frac xb\right) + c$ when given a graph of that function.
                </li>
                <li>Application of the <a href="https://en.wikipedia.org/wiki/Polynomial_remainder_theorem">Polynomial
                    Remainder Theorem</a> on a given polynomial.
                </li>
                <li>Identify, using the discriminant, which of the three given quadratic equations is possible to
                    produce real roots. Also tests on solving quadratic equations. It is guaranteed that both roots of
                    the quadratic equation with real roots are unique.
                </li>
                <li>Determine the $r$<sup>th</sup> term of a binomial expansion. It is guaranteed that the value of $n$
                    in $\left(ax^p \pm \frac{c}{dx^q}\right)^n$ <strong>will not exceed 8</strong>.
                </li>
                <li>Solve an equation involving two nested surds.</li>
                <li>Solving of a logarithm-cum-modulus equation.</li>
                <li>Derivative of $\sin \left(ax + b\right)$, $\cos \left(ax + b\right)$, $\tan \left(ax + b\right)$,
                    $e^{ax + b}$, and $\ln \left(ax + b\right)$, together with sums and differences.
                </li>
                <li>Definite integral of a polynomial. It is guaranteed that the degree of the polynomial will
                    <strong>not</strong> exceed 5.
                </li>
                <li>Integral of $\left(ax + b\right)^n$ for any rational $n$ (including negative $n$, excluding the case
                    of $n = -1$), $\sin \left(ax + b\right)$, $\cos \left(ax + b\right)$, $\sec^2x$ and/or $e^{ax + b}$,
                    together with constant multiples, sums and differences.
                </li>
                <li>Combination of derivatives and solving of cubic equation for $x$. It is guaranteed that there will
                    be at least one <em>trivial solution</em> (i.e. 1, 2, -1 or -2), all solutions are integers, and all
                    three roots of the cubic equation are unique.
                </li>
                <li>Simultaneous equations involving a linear equation (a chord of a circle) and the equation of that
                    circle. It is guaranteed that there are two unique solutions of $x$.
                </li>
            </ol>
            <p class="information">
                Some <a href="{{ url_for('static', filename='resources/index/pdf/Practice-Questions.pdf') }}"
                        id="js--practice-questions" download>
                practice questions</a> are provided for your reference, along with their answers. You are encouraged to
                look at them before attempting The Challenge.
                <br><br>
                The version of The Challenge that is running on this website is <code>{{ version }}</code>.
            </p>
        </div>

        <div class="row">
            <h2>Information for Participants</h2>
            <div class="information">
                <ul>
                    <li><strong>Do not reload the page when playing The Challenge.</strong></li>
                    <li><strong>All answers are to be typed in the MathLex language, as specified
                        <a href="http://mathlex.org/doc/language" target="_blank">here</a>.</strong> The following are
                        several important pointers when entering your answer:
                        <ul>
                            <li>To enter a number like "one million, two hundred and thirty-four thousand, five hundred
                                and sixty-seven" do not enter any commas or periods (e.g.<code>1,234,567</code> or
                                <code>1.234.567</code>). Instead, put all the digits of the number together
                                (<code>1234567</code>).
                            </li>
                            <li>To enter $xy$ you will need to enter the string <code>x*y</code> into the input
                                field.
                            </li>
                            <li>To enter a fraction such as $\frac pq$ you will need to enter the string
                                <code>p/q</code> into the input field.
                            </li>
                            <li>To enter $\sqrt{ax+b}$ you will need to enter the string <code>sqrt(a*x+b)</code> into
                                the input field.
                            </li>
                            <li>To enter $\sec^2 \left(ax+b\right)$ you will need to enter the string
                                <code>(sec(a*x+b))**2</code> or <code>(sec(a*x+b))^2</code> into the input field.
                            </li>
                        </ul>
                        You may try out the MathLex language <a href="{{ url_for('algebra_input') }}">here</a>.
                    </li>
                    <li><strong>You are not permitted to refer to any assisting websites or hard-copy documents.
                    </strong> The following is a non-exhaustive list of some of the things you are not permitted to
                        refer to:
                        <ul>
                            <li>An algebraic manipulation tool</li>
                            <li>A hard-copy formula sheet for differentiation and integration</li>
                            <li>A Computer Algebra System (CAS) or a Symbolic Algebra System (SAS)</li>
                            <li>A calculator which has symbolic differentiation and symbolic integration abilities</li>
                        </ul>
                    </li>
                    <li>Answers which are not exact are to be rounded to 3 decimal places. You should round all values
                        which 4<sup>th</sup> decimal place is more than or equal to 5 <strong>up</strong>. This means
                        that you should round <code>1.23456</code> to <code>1.235</code> and round <code>6.54321</code>
                        to <code>6.543</code>. <strong>Do not follow the <a
                                href="https://en.wikipedia.org/wiki/Rounding#Round_half_to_even" target="_blank">banker's
                            rounding</a> system</strong> which Python uses.
                        <ul>
                            <li><strong>Exception</strong>: For question 4 leave your answer in <strong>exact</strong>
                                form.
                            </li>
                            <li><strong>Exception</strong>: For question 7 leave the coefficient of your answer in
                                <strong>exact</strong> form. This includes the term which does not include an $x$ in it
                                (i.e. the term independent of $x$).
                            </li>
                            <li><strong>Exception</strong>: For question 10 and question 12 all coefficients of $x$ are
                                to be in <strong>exact</strong> form.
                            </li>
                        </ul>
                    </li>
                    <li>A (scientific) calculator is to be used, whenever it is appropriate to do so. The calculator
                        should have the following minimum features:
                        <ol>
                            <li>Four arithmetic operations ($+$, $-$, $\times$, $\div$) including the order of
                                operations and use of brackets/parentheses
                            </li>
                            <li>Fractional function which retains the fraction in the form $\frac pq$ where $p$ and $q$
                                are co-prime integers
                            </li>
                            <li>Square root ($\sqrt{\ }$) function</li>
                            <li>Able to handle computations such as $p^q$ where $p$ is a real number and $q$ is a
                                rational number
                            </li>
                            <li>Able to compute the binomial coefficient $n \choose r$</li>
                        </ol>
                        It should not, however, have <strong>any</strong> of the following features:
                        <ul>
                            <li>Symbolic differentiation and symbolic integration abilities</li>
                        </ul>
                    </li>
                    <li>Only the final answer for each question will be checked. <strong>Rough working for each question
                        is optional.</strong>
                        <ul>
                            <li>However, it is recommended to prepare a blank sheet of A4 or US Letter paper to do some
                                rough working for the more difficult questions.
                            </li>
                        </ul>
                    </li>
                    <li>Please ensure that <strong>audio is not disabled</strong> on this site, as music will be played
                        during the duration of The Challenge.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="licenses-box">
                <h2>Licenses</h2>
                <p>
                    Please click on <a href="{{ url_for('licenses') }}">this link</a> to go to the page where all the
                    licences of software used are recorded.
                    <br><br>
                    The Challenge itself is licensed under the MIT license.
                </p>
            </div>
        </div>
    </div>

    <footer>
        <p>Made with &heartsuit; by <a href="https://github.com/Ryan-Kan" target="_blank">Ryan Kan</a>. &copy; Copyright
            Ryan Kan</p>
    </footer>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='resources/index/js/mainPage.js') }}"></script>
{% endblock %}
