/* MAIN STYLING */
/* Basic Styling */
html {
    text-rendering: optimizeLegibility;
    font-size: 20px; /* This is the global font size */
    font-family: "Arial", sans-serif;
}

code {
    padding: 1px 5px;
    background: #e4e6e8;
    border-radius: 4px;
}

/* Reusable Components */
.row {
    max-width: 1080px;
    margin: 0 auto;
}

/* Headings' Styling */
h1, h2 {
    text-align: center;
}

/* Header's Styling */
.back-arrow-box {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 10px;
}

/* Paragraphs' Styling */
.long-copy {
    line-height: 145%;
    text-align: justify;
}

/* Applet's Styling */
.math-input {
    min-height: 240px;
}

.input-field {
    width: 100%;
    border-radius: 5px;
    border: 1px black solid;
    font-family: monospace;
}

.latex-output {
    overflow-wrap: break-word;
    max-width: 100%;
}

/* Footer's Styling */
footer {
    padding: 10px 0 10px 0;
    margin-top: 10px;
    text-align: center;
    background-color: #28b062;
    color: white;
}

footer a {
    color: white;
}

/* QUERIES */
/* Styling For Mobile */
@media screen and (max-width: 1080px) {
    .row, .back-arrow-box {
        width: 90%;
        margin: 0 auto;
    }
}
