html {
    text-rendering: optimizeLegibility;
    font-size: 20px; /* This is the global font size */
    font-family: "Arial", sans-serif;
}

h1, h2 {
    text-align: center;
}

code {
    padding: 1px 5px;
    background: #e4e6e8;
    border-radius: 4px;
}

footer {
    padding: 10px 0 10px 0;
    margin-top: 10px;
    text-align: center;
    background-color: #28b062;
    color: white;
}

footer a {
    color: white;
}

.back-arrow-box {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 10px;
}

.row {
    max-width: 1080px;
    margin: 0 auto;
}

#input-field {
    width: 90%;
    transform: translate(5%, 0%);
}

#math-input {
    min-height: 210px;
}

#latex-output {
    overflow-wrap: break-word;
    max-width: 100%;
}

@media screen and (max-width: 1080px) {
    .row, .back-arrow-box {
      width: 90%;
      margin: 0 auto;
    }
}
