/* Basic Styling */
html {
    text-rendering: optimizeLegibility;
    font-size: 20px; /* This is the global font size */
    font-family: "Arial", sans-serif;
}

li {
    margin-top: 4px;
}

code {
    padding: 1px 5px;
    background: #e4e6e8;
    border-radius: 4px;
}

/* Headings' Styling */
h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 10px;
}

h2 {
    margin-top: 8px;
}

/* Header Styling */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/header-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-box {
    position: absolute;
    width: 100%; /* Width is 100% of the screen's width */
    top: 50%; /* 50% from the top */
    transform: translate(0%, -50%);
    text-align: center;
    color: white;
}

.start-button {
    border: 0;
    width: 300px;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
    color: white;
}

.start-button:enabled {
    background-color: #28b062;
}

.start-button:disabled {
    background-color: #999;
}

#error-text {
    color: #f44336;
}

/* Main Page's Styling */
.introduction {
    text-align: center;
}

.information-box {
    max-width: 1080px;
    margin: 0 auto;
}

.information {
    text-align: justify;
}

/* Footer's Styling */
footer {
    padding: 10px 0 10px 0;
    margin-top: 10px;
    text-align: center;
    background-color: #28b062;
    color: white;
}

footer a {
    color: white;
}

/* Styling For Mobile */
@media screen and (max-width: 1080px) {
    .row, .introduction, #error-text {
      width: 90%;
      margin: 0 auto;
    }
}
